@font-face {
  font-family: 'Suez One';
  src: url('./lib/fonts/SuezOne-Regular.woff2') format('woff2'),
      url('./lib/fonts/SuezOne-Regular.woff') format('woff'),
      url('./lib/fonts/SuezOne-Regular.ttf') format('ttf');
  font-weight:lighter;
  font-style:normal;
  font-display: block;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Open+Sans:wght@300&display=swap');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* .eng-font */
/* * {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
} */
.App {
  font-family: 'Open Sans','Montserrat','Suez One', 'Arial', 'Helvetica', 'sans-serif';
  text-align: center;
  background-color: #19132F;
}

/* h1 {
  font-family: 'Suez One';
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #19132F;
  min-height: 100vh;
  min-width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: #CCCCCC; */
}

a, .App-link {
  text-decoration: none;
  /* color: #ECEDED; */
  /* display: inline;
  margin: none;
  align-self: center; */
  /* color: #8171b5; */
  /* filter: contrast(130%); */
}

.portfolio-img {
  /* align-self: center;
  max-width: 60%;
  max-height: 60%; */
  border-radius: 6px;
  box-shadow: #ECEDED;
  /* margin: none;
  padding:none; */

}

.center {
  text-align: center;
  padding:80px;
}


p {
  font-size: 20px;
}
.App-link:hover, a:hover {
  color: #E25E98;
  filter: contrast(110%);
  cursor: pointer;
}

h2 {
  font-family: 'Helvetica';
}

.rtl {
  /* font-family:'Rubik', 'Trashim CLM','Roboto', 'Helvetica';  */
  direction: rtl;
  /* text-align: start; */
  /* z-index: 1;
  position: relative; */
}

/* a:active {
  background-color: aquamarine;
} */
/* 
button {
  background-color: #E25E98;
  color: #19132F;
  min-width: 100px;
  max-width: 100px;
  font-size: 20px;
  border-radius: 10px;
} */


/* .global-nav {
  position: fixed;
  border: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
} 
*/


@keyframes App-logo-spin {
  from {
    /* transform: translate3d(0); */
    transition: ease-in;
  }
  to {
    transition: ease-out;
    /* transform: translate3d(500); */
  }
}

 @media screen and (max-width: 730px) {
  .contact-text {
    display: none;
  }
  .App-logo {
    /* display: none; */
    padding-top: 5rem;
    width: 20rem;
    height: 20rem;
  }
} 
/* 
@media screen and (max-width: 600px) {
  .App-logo {
    display: none;
  }
} */