@font-face {
  font-family: 'Suez One';
  src: url('./lib/fonts/SuezOne-Regular.woff2') format('woff2'),
      url('./lib/fonts/SuezOne-Regular.woff') format('woff'),
      url('./lib/fonts/SuezOne-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.App {
  /* font-family: 'Suez One', 'Roboto', 'Arial'; */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #19132F;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E9E9EA;
}

a, .App-link {
  text-decoration: none;
  color: #ECEDED;
  /* display: inline;
  margin: none;
  align-self: center; */
  /* color: #8171b5; */
  /* filter: contrast(130%); */
}

.portfolio-img {
  /* align-self: center;
  max-width: 60%;
  max-height: 60%; */
  border-radius: 6px;
  box-shadow: #ECEDED;
  /* margin: none;
  padding:none; */

}

.center {
  text-align: center;
  padding:80px;
}


p {
  font-size: 20px;
}
.App-link:hover, a:hover {
  color: #E25E98;
  filter: contrast(110%);
  cursor: pointer;
}

/* a:active {
  background-color: aquamarine;
} */
/* 
button {
  background-color: #E25E98;
  color: #19132F;
  min-width: 100px;
  max-width: 100px;
  font-size: 20px;
  border-radius: 10px;
} */


/* .global-nav {
  position: fixed;
  border: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
} 
*/


@keyframes App-logo-spin {
  from {
    /* transform: translate3d(0); */
    transition: ease-in;
  }
  to {
    transition: ease-out;
    /* transform: translate3d(500); */
  }
}

 @media screen and (max-width: 730px) {
  .contact-text {
    display: none;
  }
} 
/* 
@media screen and (max-width: 600px) {
  .App-logo {
    display: none;
  }
} */